# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: beta-xcode6.1

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
    - CONDA_PY=36
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "nhCCJ8i6KLuIhjWC9RwhI+2jODmXlw2nE8HwEWoLm4fjA44o2p5wqhvHxq300NsMRm/f03BeTH+SZj5DVw9ZKnn0Dwoc9VlerbzB0RoG8oT9peuOJSY0HmCIJAFCJL74+35BOd5bpsrINF8sdk3DDswfN0Rj8m6NIRWKbzjw6y2vxFNWJJiBHEHoNlmPjDEXFI1aar1tHe/+94mHCTgztTA0EkrX9VNa1fdhIXy2YSwwma4P83C+klFVbtIIBHWJd4+nMqiWCbd4LwX+xJyRe/YfPp3SwAj6xjrTpuHFwGT+PcIcZaTuF6SwXZdlvgeOz7uNQbCnQuN1PHRQLLGxa4dfw5rg06AKrWt85dVSliVGyKc8KXkF7zlJUB7xX7h4GwSf5ExuL0PT+K/PuMMMNvTz73GGp4lfmsKrPvrGUmwZekF0gnpfM90rVx/v7rUD1FeyIAmeAedg0Q5TDZfVUWO4boFhXnONSOSlBXcg/m/Z9ynmOjXIE/vu12DjTPNp5tSPQP8fjwGFTkogOOGktk6sUDQng8PKNrR9L50ilxcqZa8x1xWXG2VgZ6mNg1fE2QrU67zP0nTKCHWeSstzD5gp4MbraEe5/+xdGq1OkDLcIUqMVsij2bpLRjse47C335OMp/OI19tAO/adYOpTDpY9Taifx7oK+T/bibOt+8I="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      source /Users/travis/miniconda3/bin/activate root
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

      # install conda-build 2.x to build with a long prefix
      conda install --yes --quiet conda-build=2
      conda info

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main

  # inspect the prefix lengths of the built packages
  - conda inspect prefix-lengths /Users/travis/miniconda3/conda-bld/osx-64/*.tar.bz2
